/build
/build-ogre-probe
/install
__pycache__
*.pyc

/src_cxx/extern/*
/src_cxx/extern/cpp_trace
/src_cxx/extern/eigen
/src_cxx/extern/pybind11
!/src_cxx/extern/cpptrace
!/src_cxx/extern/eigen
!/src_cxx/extern/pybind11
